# Firebase Configuration
VITE_FIREBASE_API_KEY="AIzaSyA1WTOdiBsTq35_7LJJ1gG8DIYon5JxydU"
VITE_FIREBASE_AUTH_DOMAIN="datazone-computers.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="datazone-computers"
VITE_FIREBASE_STORAGE_BUCKET="datazone-computers.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="y415921897356"
VITE_FIREBASE_APP_ID="1:415921897356:web:71adf141b8323d995520a9"